<div class="panel">
  <div class="row">
    <div class="small-12 medium-8 medium-centered large-6 large-centered columns">

      <%= form_for @todo do |f| %>
        <%= f.text_field :title, :required => true, :placeholder => 'Add New here' %>
        <%= f.submit 'Add', :class => 'button expand' %>
      <% end %>

    </div>
  </div>
</div>


