/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 */

@import 'foundation';
@import 'todo';

$main-purple: #A378FA;
$main-blue: #887CAF;
$main-pink: #CD88AF;
$main-green: #6FE9A8;
$main-alert: #9C344C;
$main-notice: #569532;

.plus {
  color: white;
}

.todo-title{
  color: black;
}

.alert-box {
  margin-bottom: 0px;
}

.expand-small-only {
  @media #{$small-only} {
    width: 100%;
  }
}

.title-area .name a {
  font-size: 2em;

}

.tab-bar h1 {
  font-size: 2em;
  color: $main-purple;
}

.button {
  @include button($bg: $main-purple);
}

a {
  color: $main-purple;
  &:hover, &:focus {
    color: darken($main-purple, 25%);
  }
}

body {
  background: lighten($oil, 15%);
}

.alert-box.alert {
  @include alert(
$bg: $main-alert
    );
}

.alert-box.notice {
  @include alert(
$bg: $main-notice
    );
}

.panel {
  @include panel(
$bg: white
    );
}







